<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>Provider:</b>
  <%= @user.provider %>
</p>

<p>
	<b>Triggers</b>
	<ul>
<!--
	WHAT GOES HERE:
	A search of the user_triggers database, returning each of the user's triggers in a list. There probably ought to be some way of forcing it to return them in a logical order -- sort by trigger_id should do it, at least then they'll always return in the same order for everyone. 
	-->

		</ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
